<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Players</h1>
    <ul class="players">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="player">
            <span><%= info[i].firstName %></span>
            <span><%= info[i].lastName %></span>
           <span> - </span>
            <span><%= info[i].position %></span>
            <span> - </span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Player:</h2>

    <form action="/addPlayer" method="POST">
        <input type="text" placeholder="First Name" name="firstName">
        <input type="text" placeholder="Last Name" name="lastName">
        
        <select name="position">
            <option value="Pitcher">Pitcher</option>
            <option value="Catcher">Catcher</option>
            <option value="1st Baseman">1st Baseman</option>
            <option value="2nd Baseman">2nd Baseman</option>
            <option value="3rd Baseman">3rd Baseman</option>
            <option value="Shortstop">Shortstop</option>
            <option value="Left Field">Left Field</option>
            <option value="Center Field">Center Field</option>
            <option value="Right Field">Right Field</option>
            <option value="Utility">Utility</option>
            <option value="Designated Hitter">Designated Hitter</option>
                     </select>
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
